* {
  font-family: "Roboto", sans-serif;
  /* background-color: lightskyblue; */
}

#add-recipe-form {
  padding: 1rem;
  background-color: lightblue;
  border-radius: 8px;
}

.recipe-image {
  max-width: 75%;
  max-height: 250px; /* Adjust the max-height as needed */
  object-fit: contain; /* This ensures the entire image fits within the area without being cropped */
  display: block; /* Ensure the image is a block-level element */
  margin: 0 auto; /* Center the image horizontally */
  padding-top: 0.5rem;
}

/* Change the color of non-active nav links */
.nav-link {
  color: darkslategray; /* Change this to your desired color */
}

/* Hover color */
.nav-link:hover {
  color: black; /* Change this to your desired color */
}

/* Ensure the active nav link retains its default or desired styling */
.nav-link.active {
  color: #495057; /* Change this to your desired active color */
}

/* Hover color */
.nav-link.active:hover {
  color: darkslategray; /* Change this to your desired color */
}

/* delete recipe button on home page */
/* .delete-recipe-btn {
  color: black;
} */

.btn-outline-secondary {
  color: darkslategrey;
  border-color: darkslategray !important;
}

/* Mobile meal planner view font colour */
@media (max-width: 767px) {
  .btn-link.custom-mobile-color {
    color: black; /* Change this to your desired color */
    text-decoration: none;
  }
}
/* Logo animation */
@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.logo-pop-in {
  animation: popIn 0.5s ease-out;
}

/* ingredients input container */

/* Ensure the ingredients container is full width on mobile */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
    align-items: stretch;
  }

  .ingredient-quantity,
  .ingredient-unit,
  .ingredient-input,
  .ingredient-notes,
  .remove-ingredient-btn,
  .step-input,
  .remove-step-btn {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .autocomplete-suggestions {
    width: 100% !important;
    top: 60% !important; /* Ensure the suggestions appear below the input */
  }

  #search-bar {
    width: 100% !important;
    top: 60% !important; /* Ensure the suggestions appear below the input */
    margin-bottom: 0.5rem;
  }
}
